<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Playbill</title>

  <link rel="stylesheet" href="css/common.css">

  <script defer src="js/router.js"></script>
  <script defer src="js/model.js"></script>
  <script defer src="js/view.js"></script>

  <script defer src="js/common.js"></script>

</head>
<body class="page">

<h1>Today in Saint Petersburg</h1>

<ul class="events">

</ul>

<script id="events-item" type="text/template">

  <% for ( var i = 0; i < events.length; i++ ) { %>
  <li id="<%=events[i].id%>" class="events__item">
    <p class="event-thumbnail">

      <span class="event-thumbnail__title"><%=events[i].title%></span>
      <time class="event-thumbnail__date"><%=events[i].date%></time>
      <a href="events/id" class="event-thumbnail__link"><%=events[i].link%></a>

    </p>
  </li>
  <% } %>

</script>

<script id="event-thumbnail">

  (function(){

    var dataObject = {
      events:[
        {
          id:1,
          title: "Зверополис",
          date: "6 марта, воскресенье",
          link: "Купить билет"
        },
        {
          id:2,
          title: "Да здравствует Цезарь!",
          date: "7 марта, понедельник",
          link: "Купить билет"
        }
      ]
    };

    var events = document.querySelector(".events");
    events.innerHTML = template("events-item", dataObject);

  });

</script>

<script id="event-card" type="text/template">
Event card
</script>


</body>
</html>
