<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Playbill</title>

  <link rel="stylesheet" href="css/common.css">

  <script defer src="js/router.js"></script>
  <script defer src="js/model.js"></script>
  <script defer src="js/view.js"></script>

  <script defer src="js/common.js"></script>

</head>
<body class="page">

<h1>Today in Saint Petersburg</h1>

<ul class="events">

</ul>


<script id="template_events__item" type="text/template">
  <!-- {id, url, title, date} -->
  <% events.forEach(function(event) { %>
  <li class="events__item">
    <div class="event-thumbnail">
      <img src="<%= event.src %>" alt="" class="event-thumbnail__image">
      <div class="event-thumbnail__title"></div>
      <div class="event-thumbnail__date"><%= event.date %></div>
      <a href="events/<%= event.id %>" class="event-thumbnail__link"><%= event.link %></a>
    </div>
  </li>
  <% }); %>
</script>

</body>
</html>